@* @model SMS_Web_App_Version.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cource)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@

<h2 class="mb-4">Student Details</h2>

<div class="card shadow-sm">
    <div class="card-body">

        <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Name</dd>

            <dt class="col-sm-3">Age</dt>
            <dd class="col-sm-9">@Model.Age</dd>

            <dt class="col-sm-3">EmailAddress</dt>
            <dd class="col-sm-9">@Model.EmailAddress</dd>

            <dt class="col-sm-3">Course</dt>
            <dd class="col-sm-9">@Model.Course</dd>
        </dl>

        <div class="mt-3">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back</a>
        </div>

    </div>
</div>
